<body>
    <%- include('./header/navigation.ejs') %>
    <main>
        <h3><%= employee.firstName %></h3>
        <h3><%= employee.lastName %></h3>
        <h3><%= employee.emailId %></h3>
        <h3><%= employee.phoneNumber %></h3>
        <button class="btn" type="submit">Delete</button>
    </main>